.container-main-checkbox-tree{
    display: flex; flex-wrap: wrap; justify-content: space-around;
    padding-top: 50px;
    img {
        width: 500px;
    }
    .check-box-container-all{
        padding: 50px  ;width: 500px;overflow-x: hidden;
    }
}
