*{box-sizing: border-box; text-transform: capitalize; margin: 0; padding: 0;}
.checkbox-input-single{
    display: flex; align-items: center;
    cursor: pointer;list-style: none;
    .icons-container-items{
        display: flex; margin-left: 18px;
    }
    .input-singel-checkbox{
        width: 0px; height: 0px; list-style: none;
    }  
    .label-text-checkbox-style{
        font-weight: bold; text-transform: capitalize;
        font-size: 1em; color: rgb(20, 20, 20);
        margin-left: 3px;
    }
}